<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Section Fotos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="content-type" content="text/html;UTF-8">
  <meta http-equiv="cache-control" content="cache">
  <meta http-equiv="content-language" content="es">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/galeryfriends.css">
  <link rel="stylesheet" href="../css/register.css">
  <link rel="stylesheet" href="../css/tweet-main.css">
</head>

<body>
  <nav class="white nav-wrapper">
        <a href="#" class="brand-logo">
            <img src="../assets/logo/flower.png" class="logo-img responsive-img" alt="">
        </a>      
        <button class="btn-out green right" id="signout">salir</button>
  </nav> 

        <!--modal de fotos -->   
       <div class="modal modal-fullscreen" id="modal-lg">
          <div class="modal-content l12 m12 s12 offset-l1 offset-m1 offset-s1">
             <a href="#!" class="right modal-close waves-effect waves-green"><i class="material-icons">close</i></a>
             <span id="title" class="title-text"></span>
              <img src="" alt="" id="img">  
              <div class="sliderimgs">     
               <a id="back" class="btn-left text-primary-color left"><i class="material-icons" aria-hidden="true">chevron_left</i></a>
               <a id="next" class="btn-right  text-primary-color right"><i class="material-icons" aria-hidden="true">chevron_right</i></a>
              </div>
          </div>
      </div> 


  <div class="container center main-style">

 
   <div class="row">

    
     <div class="container">
         <div class="user card horizontal">
            <div  class="perfil-text col s6 l6 m6">
              
              <span class="perfil-text" id="user-name">
              </span>
            </div>    
            <div class=" perfil-text col s6 m6 l6"> 
              
              <span class="perfil-text" id="user-annex">
              </span> 
            </div>
           <div class="col s4 m4 l4">   
              <div class="right">
                <img src="../assets/img/sissor.png" class="circle responsive-img">
              </div>
           </div>
           <h2></h2>
           <h2></h2>
      </div> 
      
     </div> 
       
  	  <div class="col s12 m12 l12">	

       <div class="container">  
  		 <div class="first-module col s12 m12 l12"> 

  		     <!--creacion de fotos -->                 
           <hr>
  	       <h5 class="center blue-text"><span class="medium material-icons">flight_takeoff</span><span>SALCAHUASI-TAYACAJA HUANCAVELICA</span></h5>
            <hr>       
    		   <div class="arephotos">
    			 
           
    		   </div>
           <div class="col s12 m12 l12">
            <div class="center">
                  <video id="videofa" class="col s12 l12 m12 responsive-video videofa" loop muted autoplay preload="auto">
                   <source src="../assets/video-multimedia/arpafa.mp4" type="audio/mp4"/>
                  </video> 
                   <audio id="audiofa" class="col s12 l4 push-l4 responsive-audio audiofa" autoplay="" controls="">
                   <source src="../assets/video-multimedia/arpafa.mp3" type="audio/mp3"/>
                  </audio> 
           </div>           
           
          </div>
        </div>  
  	      	
      </div>	 
       
      <div class="container">	            
  		  <div class="row">		
              
              <div class="poster col s12 l12 m12">
                <h4 class="center blue-text"><span class="material-icons">create</span><span>POSTEA TUS PROSPUESTAS</span></h4> 			        

                <div class="col s4 l2 m2" id="user-photo"></div>
                <div id="post">          
                  <textarea class="col s8 l9 m9"id="text" placeholder="¿Qué deseas que se realize en tu anexo?"></textarea>
                  <button id="btn" type="button" class="red" name="btn">publicar</button>
                  <span id="counter" class="counter"></span>      
                </div>
              </div> 
              <div class="col l12 s12 m12 container-tweets" id="container-tweets">
                  
              </div>          
            </div>
          
  		<div class="candidatos"> 
           <div class="row">
            <br>
  		       <h2 class="center white-text"><span class="large material-icons">supervisor_account</span><span>CANDIDATOS FA</span></h2>
             <div class="col s12 m12 l12">              
                <div class="carousel">
                  
                 <a class="carousel-item" href="#one!"><img src="../assets/img/img-index/candidato1.png"></a>
                 <a class="carousel-item" href="#two!"><img src="../assets/img/FA1.png"></a>
                 <a class="carousel-item" href="#three!"><img src="../assets/img/FA2.png"></a>
                 <a class="carousel-item" href="#four!"><img src="../assets/img/img-index/flowertu.png"></a>
                 <a class="carousel-item" href="#five!"><img src="../assets/img/FA5.png"></a>
                </div>
             </div>
           </div> 
  		</div>
     </div>
  	         <!--pie de la web --> 
         <!--footer class="page-footer green"-->
          <div class="container green">
              <div class="row">
                <div class="col l9 s12 push-l2 green">
                  <h5 class="white-text"><span class="large material-icons">toys</span><br>FRENTE AMPLIO</h5>
                    <span class="grey-text text-lighten-4">Partido Politico Frente Amplio
                  Asociandose con Licitaciones y Convenios para todos los anexos</span>
                    <ul class="collection with-header">
                    <li class="collection-header white-text coll teal white-text"><h5>Propuestas:</h5></li>
                    <li class="green white-text"><a class="col s12 white-text btn" href="http://www.sierraproductiva.org/" target="_blank">Agricultura tecnificada</a></li>
                    <li class=" green white-text"><a class=" col s12 white-text btn" href="http://www.cpsingenieria.com/" target="_blank">carreteras principales</a></li>
                    <li class="green white-text"><a class="col s12 white-text btn" href="https://www.pqs.pe/actualidad/requisitos-para-participar-en-las-licitaciones-publicas" target="_blank">Servicio Basicos Agua y Desague</a></li>                 
                    <li class="green white-text flow-text"><a class="col s12 white-text btn" href="https://www.acciona.com/es/energias-renovables/" target="_blank">Energías renovables</a></li>
                    <li class="green white-text"><a class="col s12 white-text btn" href="https://www.facebook.com/playtulpi/" target="_blank">Inversión Educación Moderna</a></li>
                  </ul>
                 
                  
                </div>
              </div>
              <hr>
              <br>
              <div class="footer-copyright">
              <div class="container white-text">
              © 2018 Copyright Comunidad Salcahuasi-Frente Amplio
              </div>
              <br>
            </div>

          </div>
        </div> 
      </div>
          
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script> 
    <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
    </script>
    
    <script type="text/javascript">
       videofa = document.getElementById('videofa');
       videofa.autoplay = true;
    </script>
    <!-- Base de datos -->
    <script src='../js/dataVolunteer.js'></script>
    <!-- archivos JS
    <script src="../js/appFotos.js"></script> -->
    <script src="../js/appFotosv1.js"></script>
    <script src="../js/datafa.js"></script>
    <script src="../js/appfa.js"></script>
   
    <script src="../js/app-tweet.js"></script>
    </body>

</html>